.circle {
    overflow: hidden;
    width: 150px;
  }
  .circle div {
    width: 20px;
    height: 20px;
    float: left;
    background-color: gray;
    border-radius: 20px;
    margin: 5px;
  }
  .screen {
    background-color: rgb(45, 45, 54);
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 35px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .container {
    width: 35%;
    /* border-radius: 35px; */
    /* border: 3px solid green; */
  }
  .rows {
    background-color: rgb(96, 96, 103);
    /* padding: 50px; */
    /* border: 1px solid rgb(133, 111, 111); */
    overflow: hidden;
    /* border-right: px solid rgb(254, 159, 11); */
  }
  
  .cols {
    width: 7%;
    display: inline;
    float: left;
    color: white;
    margin: 0;
    border: 1px solid grey;
    padding: 40px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  .yellow {
    background-color: rgb(254, 159, 11);
  }
  
  #last-yellow {
    border-bottom-right-radius: 25px;
  }
  #zero {
    padding-right:156px;
    border-bottom-left-radius: 25px;
  }

  input{
    font-size: 30px;
    color: white;
    background-color:rgb(45, 45, 54) ;
    border: 1px solid rgb(45, 45, 54);
    text-align: right;
  }
  #lastvalue{
  float: left;
    color:white;
    font-size: 20px;
  }